.jumbotron
  %h1 Bananaphone
  %p • Send and receive SMS in real-time.
  %p • Know your users - use our simple REST API to fill in user details.
  %p • Integrates with <a href="http://www.twilio.com">Twilio</a> for scalable, worldwide SMS support.
  %p
    %a.btn.btn-lg.btn-social.btn-google-plus{href: "/auth/google"}
      %i.fa.fa-google-plus
      Sign in with Google
