.jumbotron.max-md-container
  %p.logo-container= image_tag 'ahoy.png', class: 'logo'
  %p.feature
    %i.fa.fa-comments
    Send and receive text messages in real-time
  %p.feature
    %i.fa.fa-user
    View and update details on customers
  %p.feature
    %i.fa.fa-globe
    Integrates with <a href="http://www.twilio.com">Twilio</a> for scalable, worldwide texting support
  %p.sign-up-container
    %a.btn.btn-lg.btn-social.btn-google-plus{href: "/auth/google"}
      %i.fa.fa-google-plus
      Sign in with Google
