.jumbotron.max-md-container
  %h1 Bananaphone
  %p • Send and receive SMS in real-time.
  %p • View and update details on every customer.
  %p • Integrates with <a href="http://www.twilio.com">Twilio</a> for scalable, worldwide SMS support.
  %br
  %p
    %a.btn.btn-lg.btn-social.btn-google-plus{href: "/auth/google"}
      %i.fa.fa-google-plus
      Sign in with Google
