.page-header
  %h1 Edit organization

= render 'form'

%br

.page-header
  %h1 Twilio configuration

%p Paste the following URL into the Twilio Messaging "Request URL", and select <b>HTTP POST</b> as the request method.
%p
  %code= inbound_message_url(organization_token: current_organization.token, protocol: 'https')

%br

.page-header
  %h1 Team members

%table.table
  %thead
    %tr
      %th Name
      %th Email
  %tbody
    - @organization.users.each do |user|
      %tr
        %td= user.full_name
        %td= user.email

.well To add more team members, ask them to sign in with their work Google email address. They will automatically be added.
